@use "variables" as *;

@mixin header-block {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  background-color: $bg-header;
  height: 5rem;
  border-radius: 0.625rem;
}

@mixin text($weight: $font-weight-bold, $size: $font-size-base) {
  font-weight: $weight;
  font-size: $size;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

@mixin input-block {
  @include text($font-weight-semi-bold, $font-size-medium);
  background: transparent;
  height: 40px;
  border: 1px solid $color-orange;
  &:focus-visible {
    outline-offset: 1px;
    outline: $color-orange;
  }
}
