$bg-main: #000;
$bg-header: #1f1f1f;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;

$font-family: "Roboto", sans-serif;

$font-size-base: 16px;
$font-size-medium: 14px;

$text-color-light: #fff;
$color-orange: #ba8e47;
$text-color-light-50: #ffffff80;
$color-accent-3: #f0da7d;
$color-accent-1: #1b020e;
