@use "@/app/styles/variables" as *;
@use "@/app/styles/mixins" as *;

.filter-bar {
  @include header-block;

  flex-grow: 1;
  width: auto;

  label {
    @include text($font-weight-bold, $font-size-medium);

    margin-right: 1.875rem;
  }

  &__select-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;

    img {
      position: absolute;
      right: 1rem;
      pointer-events: none;
    }

    select {
      @include input-block;

      color: $text-color-light;
      width: 140px;
      padding: 0.75rem 1.25rem;
      appearance: none;
    }
  }
}
